.aboutme{
    display: flex;
    height:100vh;
    width: 100%;    
    padding: 10px;

}
.leftabout{
    width: 30%;
    margin: 5px;
    justify-content: center;
    margin-top: 10px;
    
}

.leftabout img{
    height: 400px;
    width: 300px;
    border-radius: 50px;   
    justify-content: center;
    margin-left: 10%;
    margin-top: 20%;
    box-shadow: violet;

    
}
.rightabout{
    width: 70%;
    height: 50%;
    
}
.TitleAboutMe{
    display: flexbox;
    margin-left: 10px;
    margin-right: 10px;
}
.TitleAboutMe h3{    
    font-size: 30px;
    text-align:center;
    justify-self: center;  
   

    
}
.TitleAboutMe h3 span{
    color:aqua;
    transition: 0.5s;
    
} 



.TitleAboutMe p{
    margin-left: 20px;
    margin-top: 0;
}

.paraAbout{
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    text-align:justify;
    
    
}

@media screen and (max-width:810px){
    .aboutme{
        width: 100%;
        display: grid;        
        grid-template-columns: 1fr;
    
    }
    .TitleAboutMe{
        display: grid;
        align-self: center;
        margin-top: 0;       
        
       
    }
    .TitleAboutMe h3{
        margin-left: 10px;
        width: 100%;
        font-size:20px;
        font-style: italic;
        margin-left: 30%;
    }
    .TitleAboutMe p{
        align-items: center;
        padding-left: 10%;       
        margin-left: 20%;
    }
    .paraAbout{
        display: none;         
        
    }
    .leftabout img{
        height: 300px;
        width: 300px;
        border-radius: 50px;   
        justify-content: center;
        margin-left: 30%;      
        
    
        
    }
    .mobilepara{
        align-self: center;
        margin-left: 30%;
    }


}