.mask{
    width: 100%;
    height: 100vh;
    position: relative;

}
.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;


}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    
    opacity: 0.4;
}

.hero{
  height: 50%;
  width: 100%;

}
.hero .content{   
   position:absolute; 
   transform: translate(-50%, -50%);
   top: 40%;
   left: 50%;   
   text-align: center;
   
 
}
.hero .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;

}
.content .btn{
    margin: 1rem 0.2rem;
       
}


@media screen and (max-width:640px) {  
 
    .hero .content h1{
        font-size: 3rem;
        justify-content: center;
                
    }
    .hero .content p{
        font-size: 1.4rem;
        justify-content: center;
        font-style: italic;
       

    }
    .btns{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:40px;

       
    }
    .btns.intro-img{
        width: 20px;
        height: 20px;
    }
    .contactImg{
        color:#fff;
        background-color: #fff;
    }


    /* .btn{
        font-size: 0.5rem;
        font-weight: bold;
    }
    .btn-light{
        font-size: 0.5rem;
        font-weight: bold;
    } */
    
   
   
   
    
}
    